.w{
    text-shadow: 0px 15px 15px rgb(2, 2, 2) ;
}
.info{
    display: flex;
    justify-content: space-around;

}
.side{
    text-align:center;
    padding-top:10% ;
}
.side h3{
    font-weight: 900;
    text-shadow: black 5px 10px 10px;
    font-size: 25px;
}
.inf{
    display: flex;
    justify-content: space-around;
}
.p{
     margin: 20px 10px;
}